<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addShips</servlet-name>
        <servlet-class>com.shipping.addShips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addContainers</servlet-name>
        <servlet-class>shipping.addContainer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPorts</servlet-name>
        <servlet-class>com.shipping.addPorts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRoutes</servlet-name>
        <servlet-class>com.shipping.addRoutes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trackShips</servlet-name>
        <servlet-class>com.shipping.trackShips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>discharge</servlet-name>
        <servlet-class>com.shipping.discharge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trackorders</servlet-name>
        <servlet-class>com.shipping.trackorders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adLogin</servlet-name>
        <servlet-class>com.shipping.adLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addShips</servlet-name>
        <url-pattern>/addShips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addContainers</servlet-name>
        <url-pattern>/addContainer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPorts</servlet-name>
        <url-pattern>/addPorts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRoutes</servlet-name>
        <url-pattern>/addRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trackShips</servlet-name>
        <url-pattern>/trackShips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trackorders</servlet-name>
        <url-pattern>/trackorders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discharge</servlet-name>
        <url-pattern>/discharge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adLogin</servlet-name>
        <url-pattern>/adLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
